body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #666;
    line-height: 1.6em;
}

a {
    color: #666;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

header {
    background: #333;
    min-height: 55px;
    color: #fff;
}

header a {
    color: #fff;    
}

.logo {
    float: left;
    width: 30%;
    margin-top: 15px;
}

nav {
    float: right;
    width: 70%;
}

nav ul {
    float: right;
}

nav li {
    list-style: none;
    padding: 0 10px;
    float: left;
}

nav a {
    color: #fff;
    padding-bottom: 5px;
}

nav li.current a, nav a:hover {
    color: #03899c;
    border-bottom: #03899c 3px solid;
}

section {
    padding: 20px 0;
    overflow: hidden;
}

.tagline {
    background: #03899c; 
    color: #fff;
}

.tagline h1 {
    text-align: center;
    font-size: 35px;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#gallery li {
    display: block;
    float: left;
    width: 23%;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box; 
    margin: 0 12px 7px 0;
    position: relative;
}

#gallery img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: #03899c;    
    height: 55px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.overlay {
    display: none;
    background: #03899c url('img/overlay.png') no-repeat top center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    pointer-events: none;
}

.overlay h3 {
    margin: 0;
    padding: 0;
}

@media(max-width: 768px) {
    .logo, nav {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    
    nav ul, nav li {
        float: none;
        padding: 0;
    }
    
    nav li {
        margin-bottom: 15px;    
    }
    
    #gallery li {
        width: 48%;
        margin-right: 8px;
    }
}

@media(max-width: 568px) {
    #gallery li {
        width: 100%;
        margin-right: 0;
    }
}

















